<div class="container">
  <form [formGroup]="photoForm" class="row" (submit)="upload()">
    <div class="col-md-6 text-center">

      <div class="formGroup" *ngIf="!preview; else previewImage">
        <button type="button" (click)="fileInput.click()" class="btn btn-primary" apImmediateClick>
            <i class="fa fa-image fa-4x align-middle"></i>
        </button>
        <input
          #fileInput
          hidden 
          formControlName="file" 
          type="file" 
          accept="image/*" 
          (change)="handleFile(file = $event.target.files[0])">
        <ap-vmessage
            *ngIf="photoForm.get('file').errors?.required"
            text="Please, select an image">                
        </ap-vmessage>        
      </div>
      <ng-template #previewImage>
        <div class="text-center">
          <ap-photo [url]="preview" [title]="preview"></ap-photo>        
        </div>
      </ng-template>
    </div>

    <div class="col-md-6">
      <div class="form-group">
        <textarea formControlName="description"
          class="form-control form-control-sm" 
          placeholder="photo description"></textarea>
          <ap-vmessage
              *ngIf="photoForm.get('description').errors?.maxlength"
              text="Max length is 300">                
          </ap-vmessage> 
      </div>

      <div class="form-group">
        <label class="text-muted">
          Allow comments
          <input formControlName="allowComments" type="checkbox">
        </label>
      </div>

      <div *ngIf="!percentDone; else progress">
        <button [disabled]="photoForm.invalid" type="submit" class="btn btn-primary btn-block">
          Upload
        </button>
        <a [routerLink]="['']" class="btn btn-secondary btn-block">Cancel</a>
      </div>
      <ng-template #progress>
          <div class="text-center display-4">
            Uploading {{ percentDone }}%
          </div>  
      </ng-template>
    </div>
  </form>
</div>
