<ap-search
    (onTyping)="filter = $event"
    [value]="filter">
</ap-search>

<ap-photos 
    [photos]="photos | FilterByDescription: filter">
</ap-photos>

<ap-load-button
    [hasMore]="hasMore"
    (click)="load()">
</ap-load-button>