<header class="sticky-top">
  <nav class="navbar navbar-light bg-white">
      <a class="navbar-brand">
        <i 
          tabindex="0"
          (keyup.space)="menu.toggle()"
          (click)="menu.toggle()" 
          class="fa fa-bars mr-2"></i>
        ALURAPIC</a>

      <ap-menu #menu>
        <ul class="list-unstyled">
          <li>
            <a apShowIfLogged [routerLink]="['p','add']">Upload</a>
          </li>          
        </ul>
      </ap-menu>

      <div *ngIf="(user$ | async) as user; else login">
          <i class="fa fa-user-circle"></i>
          <a class="ml-1">{{ user.name }}</a>
          <a class="ml-1" (click)="logout()">(logout)</a>
      </div>

      <ng-template #login>
          <span class="navbar-text">
            <a [routerLink]="['']">Please, login!</a>
          </span>
      </ng-template>
  </nav>
  <div class="fixed-top">
    <ap-loading></ap-loading>
    <ap-alert></ap-alert>
  </div>
</header>
