<div [ngClass]="{ 'active-menu' : isShown }">
  <div class="menu-bar">
    <i tabindex="0" 
       class="fa fa-window-close" 
       (click)="toggle()"
       (keyup.space)="toggle()">
    </i>
    <ng-content></ng-content>
  </div>
  <div class="overlay" (click)="toggle()"></div>
</div>
